<launch> 
	<!--param name="/use_sim_time" value="false"/-->	
	<!--arg name="world_file" default="/home/leoia/work/catkin_ws/src/field_recognition/world/hokey3.world"/-->
        <!--node name="stage" pkg="stage_ros" type="stageros" args="$(arg world_file)"/-->
        <node name="game_control" pkg="hockey_game" type="game_control" output="screen"/>
        <node name="worldConsole" pkg="hockey_game" type="interactor" output="screen"/>
	<!--node name="world_coor_node" pkg="test_laser_camera" type="world_broadcaster" output="screen"/-->	
</launch>
